#root {
  text-align: center;
  width: 100%;
}

.error--input {
  color: red;
}

.messages--card {
  margin-top: 15px;
}

.loadMore--button {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.messagesContent--div {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 8px;
  position: relative;
}

.messagesItem--user1 {
  display: flex !important;
  justify-content: flex-start !important;
}

.messagesItem--user2 {
  display: flex !important;
  justify-content: flex-end !important;
}

.messageCard--user1 {
  width: 45%;
  margin-left: 10px;
  background: #DCF8C6;
  text-align: left;
}

.messageCard--user2 {
  width: 45%;
  margin-right: 10px;
  background: #F0F0F0;
  text-align: left;
}

.message--avatar {
  position: relative;
  top: -5px;
}

.avatarTitle--user1 {
  color: blue;
}

.avatarTitle--user2 {
  color: black;
}

.messagesDateText {
  display: block;
  text-align: right;
  font-size: 12px;
}